h1.page-header {
  margin-top: -5px;
}

.sidebar {
  padding-left: 0;
}

.main-container {
  background: #FFF;
  padding-top: 15px;
  margin-top: -20px;
}

.footer {
  width: 100%;
}

.router-link-active {
  background-color: #eee;
  text-decoration: none;
  color: #23527c;
}